body {
    font-family: sans-serif;
    text-align: center;
    background-color: burlywood;
}

header{
    font-size: 50px;
    margin: 0 auto;
    max-width: 500px;
    background-color: aquamarine;
    margin-bottom: 25px;
}

.link-header{
    text-decoration: none;
}

.nav-1{
    margin-right: 90px;
    text-decoration: none;
    font-size: 30px;
}

.nav-2{
    text-decoration: none;
    font-size: 30px;
}

.nav-1:hover{
   font-size: 50px;
}

.nav-2:hover{
   font-size: 50px;
}

p:hover{
   font-size: 25px;
}

h1:hover{
   font-size: 50px;
}
